server:
  port: 8080

spring:
  cloud:
    gateway:
      discovery.locator.enabled: true
      routes:
        - id: comment_service_route
          uri: lb://comment-service
          predicates:
            - Path=/admin/comments/**,/events/*/comments/**

        - id: request_service_route
          uri: lb://request-service
          predicates:
            - Path=/users/*/events/*/requests/**,/users/*/requests/**

        - id: event_service_route
          uri: lb://event-service
          predicates:
            - Path=/admin/categories/**,/categories/**,/admin/compilations/**,/compilations/**,/admin/events/**,/users/*/events/**,/events/**

        - id: user_service_route
          uri: lb://user-service
          predicates:
            - Path=/admin/users/**

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway
  endpoint:
    health:
      show-details: always
    gateway:
      enabled: true